h1 {
    color: #293250;
    border-width: thick;
    border-color: #6DD47E;
    border-style: solid;
    padding: 10px;
	background-color:  #FFD55A;
	text-shadow: 3px 3px #6DD47E;
	font-family: "Lucida Console", Times, serif;
	margin-bottom: 50px;
}

ul {
	color: black;
}

.card {
        margin-bottom: 50px;
		background-color: #FFD55A;
		border-width: thick;
		border-color: #6DD47E;
		border-style: solid;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px
}

body {
	background-color: #293250;
}

form {
	margin-bottom: 50px;
}

h2{
	color: black;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

img {
		border-width: thick;
		border-color: turquoise;
		border-style: solid;
}

.extra-margin {
	margin-top: 40;
}

.extra-extra-margin {
	margin-top: 500;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited, .btn-success {
    background-color: #6DD47E; !important;
	color: black; !important;
}



