<!doctype html>

<html>

<head>
    <title>CREATE AN ACCOUNT!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--specifies sizing-->
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/tweets.css">
    <script src="static/jquery-3.5.1.js">
    </script>
</head>

<body>
<h1 class="center text-center">CREATE ACCOUNT!</h1>

<form action="/create_user" method="post" class="text-center text-success">
    <div>
    <label for="username">Username:</label>
    <input name="username" type="text" id="username">
    </div>

    <div>
    <label for="password">Password:</label>
    <input name="password" type="password" id="password">
    </div>

    <input type="submit" value="create" class="btn btn-success submit-tweet">
</form>

<span class="text-center">  <h3><a href="login">already have an account?</a></h3> </span>

</body>