<html>
	<head>
		<title>life and death</title>
		<link rel="stylesheet" href="static/terror_style.css">
	</head>
	
	<body>
	
		<p id='intro'>These electrical impulses are as impersonal and empty as life itself.</p>
		
		<img src="https://i.pinimg.com/originals/0e/76/91/0e7691162f0920872d202f33c3bb6207.jpg" alt="This is real life">
		
		<p class='escape'><a href="hello_world.html">escape #1</a></p>
		
		<p class='escape'><a href="http://www.omfgdogs.com/#">escape #2</a></p>
		
		<div class='secret'>
		This is a highly classified, secret paragraph that you can't see.
		</div>
		
		
	
	</body>