<!doctype html>

<html>

   <head>
     <title>My Homepage</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1"> <!--specifies sizing--> 
	 <link rel="static/stylesheet" href="static/bootstrap.css">
	 <!--link rel="stylesheet" href="home_style.css"-->
   </head>

<body>
	<h1>Hello World!</h1>

	<h3>INTRO:</h3>
		<p id="main-paragraph">Welcome to 1995! Fav musicians are Coolio, TLC, and Boyz II Men. How about OJ Simpson? Who would have thought.</p>
		<p class="important secret"> THIS PARAGRAPH IS IMPORTANT</p>

	<h3>HOBBIES:</h3>
		<ul>
			<li>staring blankly at a computer screen for hours</li>
			<li>crying</li>
			<li>underperforming</li>
		</ul>


	<h3>THINGS THAT ARE IMPORTANT TO ME:</h3>
		<ol>
			<li> Go Navy </li>
			<li> Beat Army </li>
		</ol>

	<h2 id="photo-title"> MY PHOTOS </h2>
		<img src="https://cdn.theatlantic.com/thumbor/3nSDoxNKuhR27INrSgBLDibGX50=/900x601/media/img/photo/2015/08/twenty-years-ago-this-week-a-look-b/a01_RTXFTIC/original.jpg" alt="There should be a goat here...">

	<h2 id="website-title">Some cool websites</h2>
		<ul>
			<li><p><a href="https://google.com">My favorite search engine</a></p>
			<li><p><a href=existential_terror.html>Existential Terror</a></p>
		</ul>
		
	<div>
		Footer
	</div>
	

</body>

</html>