<!doctype html>

<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--specifies sizing-->
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/tweets.css">
    <script src="static/jquery-3.5.1.js">
    </script>
</head>

<body>
<h1 class="center">LOGIN!</h1>

<form action="/show_login" method="post" class="text-center">
    <input name="content" type="text">
    <input type="submit" value="enter" class="submit-tweet">
</form>

</body>