<!doctype html>

<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--specifies sizing-->
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/tweets.css">
    <script src="static/jquery-3.5.1.js">
    </script>
</head>

<body>
<h1 class="center text-center">LOGIN!</h1>

<form action="/login" method="post" class="text-center text-success">
    <div>
    <label for="username">Username:</label>
    <input name="username" type="text" id="username">
    </div>

    <div>
    <label for="password">Password:</label>
    <input name="password" type="password" id="password">
    </div>

    <input type="submit" value="login" class="btn btn-success submit-tweet">
</form>

    <div class="col-sm">
        <div class="text-center">
            <h3><a href="create_user">Create account!</a></h3>
        </div>
    </div>

    <div class="col-sm">
        <div class="text-center">
            <h3><a href="bootstrap_test.html">Homepage!</a></h3>
        </div>
    </div>

    <div class="col-sm">
        <div class="text-center">
            <h3><a href="about_me.html">About Me!</a></h3>
        </div>
    </div>

    <div class="col-sm">
        <div class="text-center">
            <h3><a href="pictures.html">Pictures!</a></h3>
        </div>
    </div>

    <div class="col-sm">
        <div class="text-center">
            <h3><a href="favorites.html">Favorites!</a></h3>
        </div>
    </div>

    <div class="col-sm">
        <div class="text-center">
            <h3><a href="">Home!</a></h3>
        </div>
    </div>

</body>