<!doctype html>

<html>

<head>
    <title>My Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--specifies sizing-->
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/tweets.css">
    <script src="static/jquery-3.5.1.js">
    </script>
    <script>

        // Stop alert changes background to green mouse enters
        $(document).ready(function () {
            $(".submit-tweet").mouseenter(function () {
                $(this).css("background-color", "lightgreen");
                console.log("background changed");
            })
        })
        // Stop alert changes background to green when mouse enters

        // Stop alert changes background back to red when mouse exits
        $(document).ready(function () {
            $(".submit-tweet").mouseleave(function () {
                $(this).css("background-color", "White");
                console.log("background changed");
            })
        })
        // Stop alert changes background back to red when mouse exits

        {% for tweet in tweets %}
        $(document).ready(function () {
            $("#comment-btn-{{ tweet[4] }}").click(function(){
                var txt1 = "<form action=\"/comment\" method=\"post\">\n" +
                            "    <input name=\"content\" type=\"text\">\n" +
                            "    <input type=\"submit\" value=\"Post comment!\" class=\"submit-tweet\">\n" +
                            "</form>";
                $("#{{ tweet[4] }}").append(txt1);
            })
        })
        {% endfor %}

        $(document).ready(function(){
            $(".like-btn").click(function(){
                // a like button was clicked, but which one?
                let btn = $(this);
                let tweet_id = btn.attr("data-tweet-id");
                console.log("you liked a tweet id", tweet_id);
                // this goes to the below URL and grabs the data using the like_json path in webserver
                // but without changing the actual displayed webpage
                $.get("/like.json?id=" + tweet_id, function(data){
                    console.log(data);
                    let like_count = $("#tweet-like-count-"+tweet_id)
                    like_count.fadeOut(200);
                    setTimeout(function(){
                        // like_count is hidden
                        like_count.html(data.like_count);
                        // show it again
                        like_count.fadeIn(1000);
                    },200)
                })
            })
        })

    </script>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
<h1 class="center">TWEETS!</h1>

<form action="/tweet" method="post" class="text-center">
    <input name="content" type="text">
    <input type="submit" value="talk about it!" class="submit-tweet">
</form>

{% for tweet in tweets %}
    <div class="card container-fluid">
        <div class="card-title">
            <b><h5><u>#{{ tweet[4] }}</u> From: {{ tweet[3] }}</h5></b>
        </div>
        <div class="card-body">
            <h5>{{ tweet[0] }}</h5>
        </div>
        <div class="card-footer">
            <i>Likes:</i> <b id="tweet-like-count-{{ tweet[4] }}">{{ tweet[2] }}</b>
        </div>
        <div class="card-footer">
           <!-- like button -->
            <span class="btn btn-success like-btn" data-tweet-id = "{{ tweet[4] }}">Like!</span>
            <!-- <a class="btn btn-success" href="/like?id={{ tweet[4] }}">Like!</a> -->
            <span class="btn btn-success" id="comment-btn-{{ tweet[4] }}">Comment!</span>
        </div>
        <div class="card-footer" id="{{ tweet[4] }}">
        </div>
    </div>
{% endfor %}

<div class="card-footer" id="surprise-link">
</div>

<form action="/tweet" method="post" class="text-center">
    <input name="content" type="text">
    <input type="submit" value="talk about it!">
</form>

<div class="row more-margin link-display">

    <div class="col-sm-3">
        <div class="text-center">
            <h3><a href="bootstrap_test.html">Homepage!</a></h3>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <h3><a href="about_me.html">About Me!</a></h3>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <h3><a href="pictures.html">Pictures!</a></h3>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <h3><a href="favorites.html">Favorites!</a></h3>
        </div>
    </div>

</div>

</body>